@import url('https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&display=swap');

body{
    background-image: url(cuteplaid.jpg);
    background-color: lightcoral;
    overflow-x: hidden;
}

@keyframes blink{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 1;
        color: lightcoral;
        }
    100%{
        opacity: 1;
    }
}

.W{
    font-family: "Jacquarda Bastarda 9", serif;
    font-size: 350px;
    width: 250px;
    height: 250px;
    margin-left: 35%;
    color: crimson;
    opacity: 65%;
}


#flipw{
    opacity: 60%;
    color: crimson;

    /* animation */

    animation: blink 1s infinite;
}


.M{
    font-family: "Jacquarda Bastarda 9", serif;
    font-size: 350px;
    width: 250px;
    height: 250px;
    margin-left: 55%;
    color: crimson;
    opacity: 65%;


}

#flipm{
    opacity: 60%;
    color: crimson;

}

.I{
    font-family: "Jacquarda Bastarda 9", serif;
    font-size: 350px;
    width: 250px;
    height: 250px;
    margin-left: 45%;
    color: crimson;
    opacity: 65%;
}


#flipi{
    opacity: 60%;
    color: crimson;

            /* animation */

            animation: blink 1s infinite;
}

.B{
    font-family: "Jacquarda Bastarda 9", serif;
    font-size: 350px;
    width: 250px;
    height: 250px;
    margin-left: 55%;
    color: crimson;
    opacity: 65%;

}



#flipb{
    opacity: 60%;
    color: crimson;
}

.I22{
    font-family: "Jacquarda Bastarda 9", serif;
    font-size: 350px;
    width: 250px;
    height: 250px;
    margin-left: 45%;
    color: crimson;
    opacity: 65%;

}


#flipeye{
    opacity: 60%;
    color: crimson;

            /* animation */

            animation: blink 1s infinite;
}

.B22{
    font-family: "Jacquarda Bastarda 9", serif;
    font-size: 350px;
    width: 250px;
    height: 250px;
    margin-left: 55%;
    color: crimson;
    opacity: 65%;

}



#flipbee{
    opacity: 60%;
    color: crimson;
}

.O{
    font-family: "Jacquarda Bastarda 9", serif;
    font-size: 350px;
    width: 250px;
    height: 250px;
    margin-left: 45%;
    color: crimson;
    opacity: 65%;

}



#flipo{
    opacity: 60%;
    color: crimson;

            /* animation */

            animation: blink 1s infinite;
}

.M22{
    font-family: "Jacquarda Bastarda 9", serif;
    font-size: 350px;
    width: 250px;
    height: 250px;
    margin-left: 55%;
    color: crimson;
    opacity: 65%;

}



#flipem{
    opacity: 60%;
    color: crimson;
}

.E{
    font-family: "Jacquarda Bastarda 9", serif;
    font-size: 350px;
    width: 250px;
    height: 250px;
    margin-left: 45%;
    color: crimson;
    opacity: 65%;

}


#flipe{
    opacity: 60%;
    color: crimson;

            /* animation */

            animation: blink 1s infinite;
}

.L{
    font-family: "Jacquarda Bastarda 9", serif;
    font-size: 350px;
    width: 250px;
    height: 250px;
    margin-left: 55%;
    color: crimson;
    opacity: 65%;

}



#flipl{
    opacity: 60%;
    color: crimson;
}

.W22{
    font-family: "Jacquarda Bastarda 9", serif;
    font-size: 350px;
    width: 250px;
    height: 250px;
    margin-left: 45%;
    color: crimson;
    opacity: 65%;

}


#flipdoubleu{
    opacity: 60%;
    color: crimson;

            /* animation */

            animation: blink 1s infinite;
}


