body{
    background-color: indianred;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


img{
    position: fixed;
    width: 50%;
    z-index: -1;
}

.top{
    margin-top: 1%;
    position:absolute;
    top: 0;

        /* animation properties */
        -moz-transform: 
        translateX(100%);
        -webkit-transform: 
        translateX(100%);
        transform:translateX(100%);
    
        -moz-animation: my-animation 15s linear infinite;
        -webkit-animation: my-animation 15s linear infinite;
        animation: my-animation 15s linear infinite;
}

.bottom{
    margin-top: 50%;
    position:absolute;

        /* animation properties */
        -moz-transform: 
        translateX(100%);
        -webkit-transform: 
        translateX(100%);
        transform:translateX(100%);
    
        -moz-animation: my-animation 15s linear infinite;
        -webkit-animation: my-animation 15s linear infinite;
        animation: my-animation 15s linear infinite;
}

@-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(-100%);}
    to { -webkit-transform: translateX(100%);}
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
    to {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
  }

  .ofc{
    font-family: "Righteous", sans-serif;
    position: absolute;
    left: 5%;
  }

  .ofc:hover{
    left: 5%;
    top: 15%;
    color: firebrick;

  }

  .ik{
    font-family: "Righteous", sans-serif;
    position: absolute;
  }

  .ik:hover{
    bottom: 15%;
    color: firebrick;
  }

  .blender{
    font-family: "Righteous", sans-serif;
    position: absolute;
    right: 5%;
  }

  .blender:hover{
    right: 5%;
    top: 15%;
    color: firebrick;
  }