


body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}



.humour{
    position: inline-block;
    display: flex;
    font-family: "Caprasimo", serif;
    position: fixed;
    align-items: center;
    justify-content: center;
  }

.H:hover{
    color: red;
}

.H{
    text-decoration: none;
    font-size: 135px;
    color: black;
}

.U:hover{
    color: orange;
}

.U{
    text-decoration: none;
    font-size: 135px;
    color: black;
}

.M:hover{
    color: yellow;
}

.M{
    text-decoration: none;
    font-size: 135px;
    color: black;
}

.O:hover{
    color: green;
}

.O{
    text-decoration: none;
    font-size: 135px;
    color: black;
}

.U2:hover{
    color: blue;
}

.U2{
    text-decoration: none;
    font-size: 135px;
    color: black;
}

.R:hover{
    color: purple;
}

.R{
    text-decoration: none;
    font-size: 135px;
    color: black;
}

.period:hover{
    color: red;
}

.period{
    text-decoration: none;
    font-size: 135px;
    color: black;
}



.backgroundimg{
    display: flex;
    position: absolute fixed;
    margin-bottom: -110%;
    z-index: 2;
}

@media (max-width: 1125px){
    .humour{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    
    .H{
        color: black;
        font-size: 65px;
    }
    
    .H:hover{
        color: red;
    }
    
    .U{
        color: black;
        font-size: 65px;
    }
    
    .U:hover{
        color: orange;

    }
    
    .M{
        color: black;
        font-size: 65px;
    }
    
    .M:hover{
        color: yellow;
    }
    
    .O{
        color: black;
        font-size: 65px;
    }
    
    .O:hover{
        color: green;
    }
    
    .U2{
        color: black;
        font-size: 65px;
    }
    
    .U2:hover{
        color: blue;
    }
    
    .R{
        color: black;
        font-size: 65px;
    }
    
    .R:hover{
        color: purple;
    }
    
    .period{
        color: black;
        font-size: 65px;
    }
    
    .period:hover{
        color: red;
    }
    
    .backgroundimg{
        display: flex;
        position: absolute fixed;
        margin-bottom: -350%;
        z-index: 2;
    }
    
    
    
    
    
    
}

